<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
{{#each CSS}}
<style>
    {{{ this }}}
</style>
{{/each}}
<title>Awful - Profile</title>

<body class="iphone {{#if IsDark}} dark {{/if}} ">
    <section>

        <div id="customTitle">
            <div id="headerBackground" style="        background-image: url('{{ Entry.Avatar }}')"></div>

            <header>
                {{{ Entry.Usertitle }}}
            </header>
        </div>

        <p>
            There have been <b>{{ Entry.Posts }}</b> posts
            made by <i>{{ Entry.Username }}</i>,
            an average of {{ Entry.Postsperday }} posts per day,
            since registering on <b>{{Entry.JoinDate}}</b>.
            <i>{{ Entry.Username }}</i> is an {{Entry.Gender}}.
        </p>

        <p>{{ Entry.Biography }}</p>

        <section>

            <table id="contact">
                <caption>Contact Information</caption>

                {{#if Entry.Recievepm}}
                <tr><th>Private Message</th><td>{{ Entry.Username }}</td></tr>
                {{/if}}

                {{#if Entry.Aim}}
                <tr><th>AIM</th><td>{{ Entry.Aim }}</td></tr>
                {{/if}}

                {{#if Entry.Icq}}
                <tr><th>ICQ</th><td>{{ Entry.Icq }}</td></tr>
                {{/if}}

                {{#if Entry.Yahoo}}
                <tr><th>Yahoo!</th><td>{{ Entry.Yahoo }}</td></tr>
                {{/if}}

                {{#if Entry.Homepage}}
                <tr><th>Homepage</th><td>{{ Entry.Homepage }}</td></tr>
                {{/if}}
            </table>

            <table>
                <caption>Additional Information</caption>

                {{#if Entry.JoinDate}}
                <tr><th>Member Since</th><td>{{  Entry.JoinDate }}</td></tr>
                {{/if}}

                {{#if Entry.Posts}}
                <tr><th>Post Count</th><td>{{  Entry.Posts }}</td></tr>
                {{/if}}

                {{#if Entry.Postsperday}}
                <tr><th>Posts Per Day</th><td>{{  Entry.Postsperday }}</td></tr>
                {{/if}}

                {{#if Entry.LastPostDate}}
                <tr><th>Last Post</th><td>{{  Entry.LastPostDate }}</td></tr>
                {{/if}}

                {{#if Entry.Location}}
                <tr><th>Location</th><td>{{  Entry.Location }}</td></tr>
                {{/if}}

                {{#if Entry.Interests}}
                <tr><th>Interests</th><td>{{  Entry.Interests }}</td></tr>
                {{/if}}

                {{#if Entry.Occupation}}
                <tr><th>Occupation</th><td>{{  Entry.Occupation }}</td></tr>
                {{/if}}
            </table>

        </section>

    </section>
</body>

<!--<body>
    <div id="app" class="framework7-root {{DeviceColorTheme}}">
        <div class="view view-main view-init safe-areas">
            <div class="page page-home page-current">
                <div style="text-align: center" class="block">
                    {{{Entry.Usertitle}}}
                </div>
                <div class="list">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="item-header">Username</div>
                                        {{Entry.Username}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="item-header">Recieve PMs</div>
                                        {{Entry.Receivepm}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="item-header">Occupation</div>
                                        {{Entry.Occupation}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="item-header">Location</div>
                                        {{Entry.Location}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="item-header">Gender</div>
                                        {{Entry.Gender}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="item-header">Interests</div>
                                        {{Entry.Interests}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="item-header">Biography</div>
                                        {{Entry.Biography}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="item-header">Member Since</div>
                                        {{Entry.JoinDate}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="item-header">Last Post</div>
                                        {{Entry.LastPostDate}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="item-header">Post Count</div>
                                        {{Entry.Postsperday}}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="item-header">Role</div>
                                        {{Entry.Role}}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{#each JS}}
    <script>
     {{{ this }}}
    </script>
    {{/each}}
    <script>
        var theme = "{{{ Theme }}}";

        var app = new Framework7({
            id: 'drastic.somethingawful',
            root: '#app',
            theme: theme,
        });
    </script>
</body>-->
