<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
{{#each CSS}}
<style>
    {{{ this }}}
</style>
{{/each}}
<title>Awful - Thread</title>

<body class="iphone">
    <div id="posts">
        {{#Entry.Posts}}
        <div id="{{ PostId }}" class="{{#if HasSeen}} seen {{/if}} {{#if User.IsAvatarHidden}} no-avatar {{/if}}">
            <header class="userid-{{User.Id}}">
                {{#if User.IsAvatarHidden}}
                {{else}}
                <img class="avatar" src="{{ User.AvatarLink }}" alt="">
                {{/if}}

            <section class="nameanddate">
                <h1 class="username">
                    {{ User.Username }}
                </h1>

                {{#if User.HasRoles}}

                <span class="{{User.Roles}}"></span>

                {{/if}}

                <time class="regdate">
                    Joined {{ User.DateJoined }}
                </time>

            </section>
            </header>

            <section class="postbody">
                {{{ PostHtml }}}
            </section>

            <footer>
                <span class="postdate">
                    {{ PostDate }}
                </span>

                <button class="action-button" title="Post actions">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAAAYCAMAAABuvUuCAAAAHlBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACGjDitAAAACnRSTlMAEHDQ/1DwYMCA7NclIgAAAHFJREFUeNrdlEsOwCAIRPmL979wK9Gk3QIrZzU8EgMqwP1CYnnFhDWuJlumFT7ko5HnKj9plqNFbO7bYI4DRTiXnWEpx4EPPxnOcYjyYCuqzXFc1k/CV5TgPQe1tdZ92fXnb/6Q9RHpHdr6GmlbbNfrAWChC8uPWXAAAAAAAElFTkSuQmCC">
                </button>
            </footer>
        </div>
        {{/Entry.Posts}}
    </div>

    {{#if LastPage}}
    <div id="end">
        End of the thread
    </div>
    {{/if}}

    {{#each JS}}
    <script>
     {{{ this }}}
    </script>
    {{/each}}
    <script>

    </script>
</body>
