@page
@model Awful.Web.Pages.ForumModel
@{
    ViewData["Title"] = Model.ThreadList.ForumName;
}
<table border="0" width="100%" cellpadding="2">
    <tbody>
        <tr>
            <td width="100%">
                <font face="verdana, arial, helvetica" size="-1"><b><a asp-page="./Index">The Awful Forums</a> &gt; @Model.ThreadList.ForumName</b></font><b>
                </b>
            </td>
        </tr>
    </tbody>
</table>
<table border="0" cellpadding="4" cellspacing="1" width="100%" bgcolor="#CCCCCC">
    <tbody>
        <tr bgcolor="#006699">
            <td colspan="2">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td>
                                <a href="#"><img src="~/img/forum-post.gif" border="0" alt="Post New Thread"></a>
                            </td>
                            <td width="100%" align="center">
                                <font face="verdana, arial,helvetica" size="-1" color="#FFFFFF"><b>Thread</b></font>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td align="center" nowrap="">
                <font face="verdana, arial,helvetica" size="-1" color="#FFFFFF"><b>Posted By</b></font>
            </td>
            <td align="center">
                <font face="verdana, arial,helvetica" size="-1" color="#FFFFFF"><b>Re:</b></font>
            </td>
            <td align="center" nowrap="">

                <font face="verdana, arial,helvetica" size="-1" color="#FFFFFF"><b>Thread Killed By:</b></font>
            </td>
        </tr>
        @foreach (var thread in Model.ThreadList.Threads)
        {
            <tr>

                <td align="center" bgcolor="#DADADA">
                    <img src="/proxy?file=@thread.ImageIconEndpoint" alt="sa image" border="0">
                </td>

                <td bgcolor="#F4F4F4" width="100%">
                    <font face="verdana, arial, helvetica" size="-1">
                        <a asp-page="./Thread" asp-route-id="@thread.ThreadId">@thread.Name</a> <font face="verdana, arial,helvetica" size="-1"></font>
                    </font>
                </td>

                <td align="left" bgcolor="#DADADA" nowrap="">
                    <font face="verdana,arial,helvetica" size="1">@thread.Author</font>
                </td>

                <td align="center" bgcolor="#F4F4F4">
                    <font face="verdana,arial,helvetica" size="1">@thread.ReplyCount</font>
                </td>

                <td bgcolor="#DADADA" nowrap="">
                    <font face="verdana,arial,helvetica" size="1">19:55 <font color="#666666">06-06</font> <a asp-page="./Thread" asp-route-newestPost="True" asp-route-id="@thread.ThreadId">@thread.KilledBy</a></font>
                </td>
            </tr>
        }
    </tbody>
</table>