@page
@model IndexModel
@{
    ViewData["Title"] = "Forums Home";
}


<b>Hi! @Model.Page.User.Username</b>

<table cellpadding="4" cellspacing="1" border="0" width="100%">
    <tbody>
        @foreach (var category in Model.Page.ForumCategories)
        {
            @*<tr bgcolor="#E2E2E2" class="section">
                <th class="category" colspan="6">
                    <a href="#">@category.Title</a>
                </th>
                <th class="moderators">Moderators</th>
            </tr>*@
            <tr bgcolor="#E2E2E2" id="cat">
                <td colspan="2">
                    <font face="verdana, arial, helvetica" color="#000000">
                        <b>
                            <a href="index.php?categoryid=4">@category.Title</a>
                        </b>
                    </font>
                </td>
                <td colspan="2">
                    <font face="verdana, arial, helvetica" color="#000000">
                        <b>
                            Moderators
                        </b>
                    </font>
                </td>
            </tr>
            @foreach (var forum in category.SubForums)
            {
                @foreach (var subforum in Model.Flatten(forum))
                {
                    <tr>
                        <td bgcolor="#F4F4F4" align="center" valign="top"><img src="/img/off.gif" border="0"></td>
                        <td width="70%" bgcolor="#F4F4F4" valign="top">
                            <font face="verdana, arial, helvetica" size="2">
                                <b>
                                    <a asp-page="./Forum" asp-route-id="@subforum.Id">@subforum.Title</a>
                                </b>
                            </font><br>
                            <font face="Arial, Helvetica, sans-serif" size="1">@subforum.Description</font>
                        </td>
                        <td bgcolor="#F4F4F4" valign="top" align="right">
                            <font face="verdana, arial, helvetica" size="1">
                                @string.Join(", ", subforum.Moderators.Select(n => n.Username))
                        </font>
                    </td>
                </tr>
            }
            }
        }
    </tbody>
</table>
